<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Course Details | DMS</title>
     <script src="/static/js/tailwind.js"></script>
</head>

<body>
     <section class="flex min-h-screen bg-indigo-50">
          {% include 'student/studentnavbar.html' %}
          <div class="p-4 sm:p-6 lg:p-8 w-full lg:w-[calc(100vw-18rem)] lg:ml-[18rem] mt-16 lg:mt-0">
               <div class="w-full flex justify-between items-center">
                    <h1 class="text-2xl sm:text-3xl font-bold">Course Details</h1>
               </div>
               <div class="w-full h-full flex justify-center items-center">
                    <h1 class="text-3xl font-bold">Coming Soon</h1>
               </div>
          </div>
     </section>
</body>

</html>