<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Manage Branches | DMS</title>
		<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
		<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
		<style>
			::-webkit-scrollbar {
				width: 8px;
			}
			::-webkit-scrollbar-track {
				background: #f1f1f1;
			}
			::-webkit-scrollbar-thumb {
				background: #888;
			}
			::-webkit-scrollbar-thumb:hover {
				background: #555;
			}
			input.gridjs-input{
				box-shadow: 0 0 0 1px #141414;
			}
			input.gridjs-input:focus {
				border-color: #615FFF;
				box-shadow: 0 0 0 3px #615FFF80;
			}
			.gridjs-search-input{
				width: 100%;
			}
		</style>
	</head>
	<body>
		<section class="flex h-screen">
			{% include 'navbar.html' %}
			<div class="p-8 w-[calc(100vw-18rem)] ml-[18rem]">
				<div class="w-full flex justify-between items-center">
					<h1 class="text-3xl font-bold">Manage Branches</h1>
					<div class="bg-indigo-500 text-white px-4 py-2 rounded cursor-pointer" id="add-branch">
						<p>Add Branch</p>
					</div>
				</div>
				<div id="wrapper" class="w-full mt-8"></div>
			</div>
		</section>
		<section class="fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center scale-0 opacity-0 z-50 transition-all duration-300" id="add-branch-modal">
			<div class="bg-white p-8 rounded-lg w-1/2 flex flex-col gap-6">
				<div class="flex justify-between items-center">
					<h1 id="branch-model-heading" class="text-3xl font-bold">Add Branch</h1>
					<div class="bg-[#141414] flex items-center justify-center p-2 text-white rounded-full cursor-pointer" id="close-branch-modal">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
						</svg>
					</div>
				</div>
				<form action="" method="POST" class="w-full flex flex-col gap-6 max-h-[500px] overflow-y-auto pr-2" enctype="multipart/form-data" id="add-branch-form">
					{%csrf_token%}
					<div class="w-full">
						<div class="mb-4 flex items-center gap-4 w-full">
							<div class="flex flex-col gap-2 w-1/2">
								<label for="branchName" class="block font-semibold">Branch Name</label>
								<input type="text" name="branchName" id="branchName" autocomplete="off" required class="block w-full rounded-lg bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
							</div>
							<div class="flex flex-col gap-2 w-1/2">
								<label for="branchPhoneNo" class="block font-semibold">Branch Phone Number</label>
								<input type="text" name="branchPhoneNo" id="branchPhoneNo" autocomplete="off" required class="block w-full rounded-lg bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
							</div>
						</div>
						<div id="password-container" class="mb-4 flex items-center gap-4 w-full">
							<div class="flex flex-col gap-2 w-1/2">
								<label for="branchEmail" class="block font-semibold">Branch Email</label>
								<input type="email" name="branchEmail" id="branchEmail" autocomplete="off" required class="block w-full rounded-lg bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
							</div>
							<div class="flex flex-col gap-2 w-1/2">
                                        <label for="branchIncharge" class="block font-semibold">Branch Incharge</label>
                                        <select name="branchIncharge" id="branchIncharge" class="block w-full rounded-lg bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" required>
                                             <option disabled selected>Select User</option>
                                        </select>
                                   </div>
						</div>
                              <div class="mb-4 flex flex-col gap-2 w-full">
                                   <label for="branchAddress" class="block font-semibold">Branch Address</label>
                                   <input type="text" name="branchAddress" id="branchAddress" autocomplete="off" required class="block w-full rounded-lg bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
                              </div>
					</div>
					<div id="btns-container" class="flex justify-end">
						<button id="add-branch-btn" class="bg-indigo-600 text-white px-6 py-2 rounded cursor-pointer mr-2">
							<p>Add</p>
						</button>
						<botton id="close-add-branch-modal" class="bg-red-700 text-white px-4 py-2 rounded cursor-pointer">
							<p>Cancel</p>
						</botton>
					</div>
				</form>
			</div>
		</section>
		<section class="fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center scale-0 opacity-0 z-50 transition-all duration-300" id="updated-branch-modal">
			<div class="bg-white p-8 rounded-lg w-1/2 flex flex-col gap-6">
				<div class="flex justify-between items-center">
					<h1 id="update-branch-heading" class="text-2xl font-bold">Update Branch</h1>
					<div class="bg-[#141414] flex items-center justify-center p-2 text-white rounded-full cursor-pointer" id="close-update-branch-btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
						</svg>
					</div>
				</div>
				<div class="flex flex-col gap-2">
					<p id="update-branch-message">Branch details updated successfully.</p>
				</div>
				<div class="flex justify-end">
					<botton id="close-update-branch-modal" class="bg-indigo-600 text-white px-4 py-2 rounded cursor-pointer">
						<p>Close</p>
					</botton>
				</div>
			</div>
		</section>
		<section class="fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center scale-0 opacity-0 z-50 transition-all duration-300" id="delete-branch-modal">
			<div class="bg-white p-8 rounded-lg w-1/2 flex flex-col gap-6">
				<div class="flex justify-between items-center">
					<h1 class="text-2xl font-bold">Delete Branch</h1>
					<div class="bg-[#141414] flex items-center justify-center p-2 text-white rounded-full cursor-pointer" id="close-delete-branch-btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
						</svg>
					</div>
				</div>
				<div id="delete-branch-message-container" class="flex flex-col gap-2">
					<p id="delete-branch-message">Are you sure you want to delete this Branch?</p>
					<p>This action cannot be undone.</p>
				</div>
				<div class="flex justify-end">
					<button id="delete-branch-btn" class="bg-red-600 text-white px-6 py-2 rounded cursor-pointer mr-2">
						<p>Delete</p>
					</button>
					<botton id="close-delete-branch-modal" class="bg-indigo-600 text-white px-4 py-2 rounded cursor-pointer">
						<p>Cancel</p>
					</botton>
				</div>
			</div>
		</section>
		<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
		<script>
               document.addEventListener('DOMContentLoaded', () => {
				fetch("http://127.0.0.1:8000/getBranchAdminData/")
					.then(response => response.json())
					.then(data => {
						document.getElementById("branchIncharge").innerHTML += data.map(instructor => `<option value="${instructor.id}">${instructor.name}</option>`).join('');
					})
			})

			document.getElementById('add-branch').addEventListener('click', () => {
				document.getElementById('add-branch-modal').classList.remove('scale-0', 'opacity-0');
				document.getElementById('add-branch-modal').classList.add('scale-100', 'opacity-100');
				document.getElementById("branch-model-heading").innerText = "Add Branch";
				document.getElementById("btns-container").style.display = "flex";
				document.getElementById("add-branch-btn").innerText = "Add";
				document.getElementById('add-branch-modal').querySelector('form').reset();
				document.getElementById('add-branch-modal').querySelectorAll('input').forEach(input => {
					input.removeAttribute('readonly');
					input.removeAttribute('disabled');
					input.setAttribute('required', true);
					input.classList.add('focus:outline-2', 'focus:-outline-offset-2', 'focus:outline-indigo-600');
				});
				if (document.getElementById("branchId")) {
					document.getElementById("branchId").remove();
				}
			});

			document.getElementById('close-add-branch-modal').addEventListener('click', () => {
				document.getElementById('add-branch-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('add-branch-modal').classList.add('scale-0', 'opacity-0');
			});

			document.getElementById('close-branch-modal').addEventListener('click', () => {
				document.getElementById('add-branch-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('add-branch-modal').classList.add('scale-0', 'opacity-0');
			});

			document.getElementById('close-delete-branch-modal').addEventListener('click', () => {
				document.getElementById('delete-branch-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('delete-branch-modal').classList.add('scale-0', 'opacity-0');
				window.location.reload()
			});

			document.getElementById('close-delete-branch-btn').addEventListener('click', () => {
				document.getElementById('delete-branch-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('delete-branch-modal').classList.add('scale-0', 'opacity-0');
				window.location.reload()
			});

			document.getElementById('close-update-branch-btn').addEventListener('click', () => {
				document.getElementById('updated-branch-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('updated-branch-modal').classList.add('scale-0', 'opacity-0');
                    window.location.reload()
			});

			document.getElementById('close-update-branch-modal').addEventListener('click', () => {
				document.getElementById('updated-branch-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('updated-branch-modal').classList.add('scale-0', 'opacity-0');
                    window.location.reload()
			});

			document.getElementById("add-branch-form").addEventListener("submit", (e) => {
				if (document.getElementById('add-branch-btn').innerText === "Update") {
					e.preventDefault();
					const form = e.target; // Get the form element
        			     const formData = new FormData(form); // Correctly create FormData

					// const profilePhotoInput = document.getElementById("profilePhoto");
					
					// if (profilePhotoInput.files[0].name === profilePhotoInput.getAttribute("data-name")) {
					// 	formData.delete("profilePhoto");
					// } else if (profilePhotoInput.files.length > 0) {
					// 	formData.append("profilePhoto", profilePhotoInput.files[0]);
					// }

					fetch("/manage-branch/", {
						method: "POST", // Change to PUT if updating
						body: formData
					})
					.then(response => response.json())
					.then(data => {
						console.log("Success:", data);
						if (data.status === "success") {
							document.getElementById('add-branch-modal').classList.remove('scale-100', 'opacity-100');
							document.getElementById('add-branch-modal').classList.add('scale-0', 'opacity-0');
							document.getElementById("updated-branch-modal").classList.remove('scale-0', 'opacity-0');
							document.getElementById("updated-branch-modal").classList.add('scale-100', 'opacity-100');
							document.getElementById("update-branch-message").innerText = "Branch details updated successfully."
							document.getElementById("update-branch-heading").innerText = "Update Branch"
						} else if (data.status === "error") {
							console.error("Error:", data.message);
							document.getElementById('add-branch-modal').classList.remove('scale-100', 'opacity-100');
							document.getElementById('add-branch-modal').classList.add('scale-0', 'opacity-0');
							document.getElementById("updated-branch-modal").classList.remove('scale-0', 'opacity-0');
							document.getElementById("updated-branch-modal").classList.add('scale-100', 'opacity-100');
							document.getElementById("update-branch-message").innerText = data.message
							document.getElementById("update-branch-heading").innerText = "Error"
						}
					})
					.catch(error => {
						console.error("Error:", error);
						document.getElementById('add-branch-modal').classList.remove('scale-100', 'opacity-100');
						document.getElementById('add-branch-modal').classList.add('scale-0', 'opacity-0');
						document.getElementById("updated-branch-modal").classList.remove('scale-0', 'opacity-0');
						document.getElementById("updated-branch-modal").classList.add('scale-100', 'opacity-100');
						document.getElementById("update-branch-message").innerText = "Error updating Branch information."
					});
                    } else {
                         e.preventDefault();
					const form = e.target; // Get the form element
        			     const formData = new FormData(form); // Correctly create FormData

					// const profilePhotoInput = document.getElementById("profilePhoto");
					
					// if (profilePhotoInput.files[0].name === profilePhotoInput.getAttribute("data-name")) {
					// 	formData.delete("profilePhoto");
					// } else if (profilePhotoInput.files.length > 0) {
					// 	formData.append("profilePhoto", profilePhotoInput.files[0]);
					// }

					fetch("/manage-branch/", {
						method: "POST", // Change to PUT if updating
						body: formData
					})
					.then(response => response.json())
					.then(data => {
						console.log("Success:", data);
						if (data.status === "success") {
							document.getElementById('add-branch-modal').classList.remove('scale-100', 'opacity-100');
							document.getElementById('add-branch-modal').classList.add('scale-0', 'opacity-0');
							document.getElementById("updated-branch-modal").classList.remove('scale-0', 'opacity-0');
							document.getElementById("updated-branch-modal").classList.add('scale-100', 'opacity-100');
							document.getElementById("update-branch-message").innerText = "Branch added successfully."
							document.getElementById("update-branch-heading").innerText = "Add Branch"
						} else if (data.status === "error") {
							console.error("Error:", data.message);
							document.getElementById('add-branch-modal').classList.remove('scale-100', 'opacity-100');
							document.getElementById('add-branch-modal').classList.add('scale-0', 'opacity-0');
							document.getElementById("updated-branch-modal").classList.remove('scale-0', 'opacity-0');
							document.getElementById("updated-branch-modal").classList.add('scale-100', 'opacity-100');
							document.getElementById("update-branch-message").innerText = data.message
							document.getElementById("update-branch-heading").innerText = "Error"
						}
					})
					.catch(error => {
						console.error("Error:", error);
						document.getElementById('add-branch-modal').classList.remove('scale-100', 'opacity-100');
						document.getElementById('add-branch-modal').classList.add('scale-0', 'opacity-0');
						document.getElementById("updated-branch-modal").classList.remove('scale-0', 'opacity-0');
						document.getElementById("updated-branch-modal").classList.add('scale-100', 'opacity-100');
						document.getElementById("update-branch-message").innerText = "Error adding branch information."
					});
                    }
			})

			document.getElementById('delete-branch-btn').addEventListener('click', () => {
				const branchId = document.getElementById('delete-branch-btn').getAttribute('data-id');
				fetch(`http://127.0.0.1:8000/manage-branch/?branchId=${branchId}`, {
						method: 'DELETE',
						headers: {
							'Content-Type': 'application/json'
						}
					})
					.then(response => response.json())
					.then(data => {
						console.log(data);
						if (data.success) {
							document.getElementById("delete-branch-message-container").innerHTML = `<p>${data.success}</p>`;
							document.getElementById("delete-branch-btn").style.display = "none";
							document.getElementById("close-delete-branch-modal").innerText = "Close";
						} else if (data.error) {
							document.getElementById("delete-branch-message-container").innerHTML = `<p>${data.error}</p>`;
							document.getElementById("delete-branch-btn").style.display = "none";
							document.getElementById("close-delete-branch-modal").innerText = "Close";
						}
					})
					.catch(error => {
						console.error('Error:', error);
					});
			});

			const branchGrid = new gridjs.Grid({
				search: true,
				pagination: {
					limit: 5,
					summary: false
				},
				sort: true,
				fixedHeader: true,
				columns: [
                         {
						id: "id",
						name: "ID",
						width: '5%',
						formatter: (cell, row) => {
							cell = `<span class="text-indigo-600 font-semibold">${cell}</span>`;
							return gridjs.html(cell);
						},
						hidden: true
					},
					"Branch Name",
                         {
                              name: "Branch Address",
                              width: '18%',
                         },
					"Branch Number",
					"Branch Email",
					"Branch Incharge",
					{
						name: "Action",
						formatter: (cell, row) => {
							let editBtn = gridjs.h('button', {
								className: 'p-3 bg-indigo-600 text-white rounded-lg cursor-pointer',
								innerHTML: `
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
									</svg>
								`,
								onClick: () => {
									fetchBranchData(`http://127.0.0.1:8000/getBranchData/?branchId=${row.cells[0].data}`, "Edit Branch Details", true, false);
									document.getElementById("add-branch-btn").innerText = "Update";

									document.getElementById("add-branch-form").innerHTML += `<input type="hidden" name="branchId" id="branchId" value="${row.cells[0].data}">`;
									document.getElementById('add-branch-modal').classList.remove('scale-0', 'opacity-0');
									document.getElementById('add-branch-modal').classList.add('scale-100', 'opacity-100');
								}
							}, '');
							let deleteBtn = gridjs.h('button', {
								className: 'p-3 bg-red-600 text-white rounded-lg cursor-pointer',
								innerHTML: `
                                             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                             </svg>
                                        `,
								onClick: () => {
									branchId = row.cells[0].data;
									document.getElementById("delete-branch-btn").setAttribute("data-id", branchId);
									document.getElementById("delete-branch-message").innerHTML = `Are you sure you want to delete <b>${row.cells[2].data}</b>'s details?`;
									document.getElementById('delete-branch-modal').classList.remove('scale-0', 'opacity-0');
									document.getElementById('delete-branch-modal').classList.add('scale-100', 'opacity-100');
								}
							}, '');
							return gridjs.h('div', {
								className: 'flex gap-4'
							}, editBtn, deleteBtn);
						},
						width: '11%'
					}
				],
				server: {
					url: 'http://127.0.0.1:8000/getBranchData/',
					then: data => data.map(branch => [branch.id, branch.branchName, branch.branchAddress, branch.branchPhoneNo, branch.branchEmail, branch.branchIncharge])
				},
				className: {
					th: '!bg-black !text-white',
					sort: '!bg-black !text-white',
					search: '!float-right !w-[25%]',
				}
			})

			branchGrid.render(document.getElementById("wrapper"))

			document.querySelector(".gridjs-search-input").placeholder = "Search...";

			// branchGrid.on('cellClick', (...args) => {
			// 	console.log(args);
			// 	if (args[2]["id"] === "name") {
			// 		instructorId = args[3]["_cells"][0]["data"];
			// 		fetchBranchData(`http://127.0.0.1:8000/getInstructorData/?instructorId=${instructorId}`, "Vehicle Details", false, true);
			// 		document.getElementById('add-branch-modal').classList.remove('scale-0', 'opacity-0');
			// 		document.getElementById('add-branch-modal').classList.add('scale-100', 'opacity-100');
			// 	}
			// });

			function fetchBranchData(apiUrl, headingText, isBtnsVisible, isMakeInputReadOnly) {
				fetch(apiUrl)
					.then(response => response.json())
					.then(data => {
						console.log(data);
						document.getElementById("branch-model-heading").innerText = headingText;
						document.getElementById("btns-container").style.display = isBtnsVisible ? "flex" : "none";
						document.getElementById("branchName").value = data.branchName || "No Data Found";
                              document.getElementById("branchPhoneNo").value = data.branchPhoneNo || "No Data Found";
                              document.getElementById("branchEmail").value = data.branchEmail || "No Data Found";
                              document.getElementById("branchIncharge").value = data.branchInchargeId || "No Data Found";
                              document.getElementById("branchAddress").value = data.branchAddress || "No Data Found";
						isMakeInputReadOnly ? makeInputReadOnly() : makeInputEditable();
					});
			}

			function makeInputReadOnly() {
                    document.getElementById('add-branch-modal').querySelectorAll('input').forEach(input => {
                         input.classList.remove('focus:outline-2', 'focus:-outline-offset-2', 'focus:outline-indigo-600');
                         input.setAttribute('readonly', true);
                         input.setAttribute('disabled', true);
                         input.removeAttribute('required');
                    })
			}

			function makeInputEditable() {
				document.getElementById('add-branch-modal').querySelectorAll('input').forEach(input => {
					input.classList.add('focus:outline-2', 'focus:-outline-offset-2', 'focus:outline-indigo-600');
					input.removeAttribute('readonly');
					input.removeAttribute('disabled');
					input.setAttribute('required', true);
				})
			}
		</script>
	</body>
</html>