<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Manage Slots | DMS</title>
		<script src="https://unpkg.com/@tailwindcss/browser@4"></script>
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
		<link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
		<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
		<style>
			::-webkit-scrollbar {
				width: 8px;
			}
			::-webkit-scrollbar-track {
				background: #f1f1f1;
			}
			::-webkit-scrollbar-thumb {
				background: #888;
			}
			::-webkit-scrollbar-thumb:hover {
				background: #555;
			}
			input.gridjs-input{
				box-shadow: 0 0 0 1px #141414;
			}
			input.gridjs-input:focus {
				border-color: #615FFF;
				box-shadow: 0 0 0 3px #615FFF80;
			}
			.gridjs-search-input{
				width: 100%;
			}
               .loader {
                    border: 16px solid #f3f3f3;
                    border-radius: 50%;
                    border-top: 16px solid #615FFF;
                    width: 120px;
                    height: 120px;
                    -webkit-animation: spin 2s linear infinite; /* Safari */
                    animation: spin 2s linear infinite;
               }

               /* Safari */
               @-webkit-keyframes spin {
                    0% { -webkit-transform: rotate(0deg); }
                    100% { -webkit-transform: rotate(360deg); }
               }

               @keyframes spin {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
               }
		</style>
	</head>
	<body>
		<section class="flex h-screen">
			{% include 'navbar.html' %}
			<div class="p-8 w-[calc(100vw-18rem)] ml-[18rem]">
				<div class="w-full flex justify-between items-center">
					<h1 class="text-3xl font-bold">Manage Slots</h1>
					<div class="bg-indigo-500 text-white px-4 py-2 rounded cursor-pointer" id="add-slot">
						<p>Add Slot</p>
					</div>
				</div>
				<div id="wrapper" class="w-full mt-8"></div>
			</div>
		</section>
		<section class="fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center scale-0 opacity-0 z-50 transition-all duration-300" id="add-slot-modal">
			<div class="bg-white p-8 rounded-lg w-1/2 flex flex-col gap-6">
				<div class="flex justify-between items-center">
					<h1 id="slot-model-heading" class="text-3xl font-bold">Add Slot</h1>
					<div class="bg-[#141414] flex items-center justify-center p-2 text-white rounded-full cursor-pointer" id="close-slot-modal">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
						</svg>
					</div>
				</div>
				<form action="" method="POST" class="w-full flex flex-col gap-6 max-h-[500px] overflow-y-auto pr-2" enctype="multipart/form-data" id="add-slot-form">
					{%csrf_token%}
					<div class="w-full">
                              <div class="mb-4 flex items-center gap-4 w-full">
							<div class="flex flex-col gap-2 w-1/2">
								<label for="slotName" class="block font-semibold">Slot Name</label>
								<input type="text" name="slotName" id="slotName" autocomplete="off" required class="block w-full rounded-lg bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
							</div>
							<div class="flex flex-col gap-2 w-1/2">
                                        <label for="slotBranch" class="block font-semibold">Slot Branch</label>
                                        <select name="slotBranch" id="slotBranch" class="block w-full rounded-lg bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6" required>
                                             <option disabled selected>Select Branch</option>
                                        </select>
                                   </div>
						</div>
                              <div class="mb-4 flex items-center gap-4 w-full">
							<div class="flex flex-col gap-2 w-1/2">
								<label for="slotStartTime" class="block font-semibold">Slot Start Time</label>
								<input type="time" name="slotStartTime" id="slotStartTime" autocomplete="off" pattern="[0-9]{10}" required class="block w-full rounded-lg bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
							</div>
							<div class="flex flex-col gap-2 w-1/2">
								<label for="slotEndTime" class="block font-semibold">Slot End Time</label>
								<input type="time" name="slotEndTime" id="slotEndTime" autocomplete="off" pattern="[0-9]{10}" required class="block w-full rounded-lg bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
							</div>
						</div>
					</div>
					<div id="btns-container" class="flex justify-end">
						<button id="add-slot-btn" class="bg-indigo-600 text-white px-6 py-2 rounded cursor-pointer mr-2">
							<p>Add</p>
						</button>
						<botton id="close-add-slot-modal" class="bg-red-700 text-white px-4 py-2 rounded cursor-pointer">
							<p>Cancel</p>
						</botton>
					</div>
				</form>
			</div>
		</section>
		<section class="fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center scale-0 opacity-0 z-50 transition-all duration-300" id="updated-slot-modal">
			<div class="bg-white p-8 rounded-lg w-1/2 flex flex-col gap-6">
				<div class="flex justify-between items-center">
					<h1 id="update-slot-heading" class="text-2xl font-bold">Update Slot</h1>
					<div class="bg-[#141414] flex items-center justify-center p-2 text-white rounded-full cursor-pointer" id="close-update-slot-btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
						</svg>
					</div>
				</div>
				<div class="flex flex-col gap-2">
					<p id="update-slot-message">Slot details updated successfully.</p>
				</div>
				<div class="flex justify-end">
					<botton id="close-update-slot-modal" class="bg-indigo-600 text-white px-4 py-2 rounded cursor-pointer">
						<p>Close</p>
					</botton>
				</div>
			</div>
		</section>
		<section class="fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center scale-0 opacity-0 z-50 transition-all duration-300" id="delete-slot-modal">
			<div class="bg-white p-8 rounded-lg w-1/2 flex flex-col gap-6">
				<div class="flex justify-between items-center">
					<h1 class="text-2xl font-bold">Delete Slot</h1>
					<div class="bg-[#141414] flex items-center justify-center p-2 text-white rounded-full cursor-pointer" id="close-delete-slot-btn">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
							<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
						</svg>
					</div>
				</div>
				<div id="delete-slot-message-container" class="flex flex-col gap-2">
					<p id="delete-slot-message">Are you sure you want to delete this slot's content?</p>
					<p>This action cannot be undone.</p>
				</div>
				<div class="flex justify-end">
					<button id="delete-slot-btn" class="bg-red-600 text-white px-6 py-2 rounded cursor-pointer mr-2">
						<p>Delete</p>
					</button>
					<botton id="close-delete-slot-modal" class="bg-indigo-600 text-white px-4 py-2 rounded cursor-pointer">
						<p>Cancel</p>
					</botton>
				</div>
			</div>
		</section>
		<!-- <section class="fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center scale-0 opacity-0 z-50 transition-all duration-300" id="view-slot-modal">
			<div class="bg-white p-8 rounded-lg min-w-[300px] w-[600px] max-w-1/2 h-[270px] flex gap-5 relative">
				<div class="absolute -top-4 -right-4 bg-[#141414] flex items-center justify-center p-2 text-white rounded-full cursor-pointer" id="close-view-slot-btn">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
						<path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
					</svg>
				</div>
				<div class="w-[35%] h-full rounded-md overflow-hidden bg-black">
					<img id="instructor-view-image" src="https://images.pexels.com/photos/30550052/pexels-photo-30550052/free-photo-of-wind-turbines-in-foggy-a-pobra-do-caraminal.jpeg?auto=compress&cs=tinysrgb&w=1080&lazy=load" alt="" class="w-full h-full object-cover bg-black">
				</div>
				<div class="h-full w-[65%] flex flex-col justify-between">
					<div>
						<span class="text-sm text-indigo-600">Name</span>
						<p id="instructor-name" class="text-xl font-semibold">Shubham Bhogayata</p>
					</div>
					<div>
						<span class="text-sm text-indigo-600">Email</span>
						<p id="instructor-email" class="text-xl font-semibold">shubham@gmail.com</p>
					</div>
					<div class="flex items-center justify-between">
						<div>
							<span class="text-sm text-indigo-600">Phone Number</span>
							<p id="instructor-phone" class="text-xl font-semibold">1234567890</p>
						</div>
						<div>
							<span class="text-sm text-indigo-600">Blood Group</span>
							<p id="instructor-bg" class="text-xl font-semibold text-right uppercase">ab</p>
						</div>
					</div>
				</div>
			</div>
		</section> -->
          <section class="fixed top-0 left-0 w-full h-full bg-black/80 flex justify-center items-center z-50 transition-all duration-300 hidden" id="loader-modal">
               <div class="loader"></div>
          </section>
		<script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
		<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
          <!-- <script src="//mozilla.github.io/pdf.js/build/pdf.mjs" type="module"></script> -->
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				fetch("http://127.0.0.1:8000/getBranchData/")
					.then(response => response.json())
					.then(data => {
						document.getElementById("slotBranch").innerHTML += data.map(branch => `<option value="${branch.branchName}">${branch.branchName}</option>`).join('');
					})
			})

               function showLoader() {
                    document.getElementById("loader-modal").classList.remove('hidden');
                    document.getElementById("loader-modal").classList.add('flex');
                    document.getElementsByTagName("body")[0].style.overflow = "hidden";
               }

               function hideLoader() {
                    document.getElementById("loader-modal").classList.add('hidden');
                    document.getElementById("loader-modal").classList.remove('flex');
                    document.getElementsByTagName("body")[0].style.overflow = "visible";
               }

			document.getElementById('add-slot').addEventListener('click', () => {
				document.getElementById('add-slot-modal').classList.remove('scale-0', 'opacity-0');
				document.getElementById('add-slot-modal').classList.add('scale-100', 'opacity-100');
				document.getElementById("slot-model-heading").innerText = "Add Slot";
				document.getElementById("btns-container").style.display = "flex";
				document.getElementById("add-slot-btn").innerText = "Add";
				document.getElementById('add-slot-modal').querySelector('form').reset();
				// document.getElementById('driving-license-image').classList.add('hidden');
				document.getElementById('add-slot-modal').querySelectorAll('input').forEach(input => {
					input.removeAttribute('readonly');
					input.removeAttribute('disabled');
					input.setAttribute('required', true);
					input.classList.add('focus:outline-2', 'focus:-outline-offset-2', 'focus:outline-indigo-600');
				});
                    document.getElementById('add-slot-modal').querySelectorAll('select').forEach(input => {
                         input.removeAttribute('readonly');
                         input.removeAttribute('disabled');
                         input.setAttribute('required', true);
                    });
				if (document.getElementById("slotId")) {
					document.getElementById("slotId").remove();
				}
			});

			document.getElementById('close-add-slot-modal').addEventListener('click', () => {
				document.getElementById('add-slot-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('add-slot-modal').classList.add('scale-0', 'opacity-0');
			});

			document.getElementById('close-slot-modal').addEventListener('click', () => {
				document.getElementById('add-slot-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('add-slot-modal').classList.add('scale-0', 'opacity-0');
			});

			document.getElementById('close-delete-slot-modal').addEventListener('click', () => {
				document.getElementById('delete-slot-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('delete-slot-modal').classList.add('scale-0', 'opacity-0');
				window.location.reload()
			});

			document.getElementById('close-delete-slot-btn').addEventListener('click', () => {
				document.getElementById('delete-slot-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('delete-slot-modal').classList.add('scale-0', 'opacity-0');
				window.location.reload()
			});

			document.getElementById('close-update-slot-btn').addEventListener('click', () => {
				document.getElementById('updated-slot-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('updated-slot-modal').classList.add('scale-0', 'opacity-0');
				window.location.reload()
			});

			document.getElementById('close-update-slot-modal').addEventListener('click', () => {
				document.getElementById('updated-slot-modal').classList.remove('scale-100', 'opacity-100');
				document.getElementById('updated-slot-modal').classList.add('scale-0', 'opacity-0');
				window.location.reload()
			});

			// document.getElementById('close-view-slot-btn').addEventListener('click', () => {
			// 	document.getElementById('view-slot-modal').classList.remove('scale-100', 'opacity-100');
			// 	document.getElementById('view-slot-modal').classList.add('scale-0', 'opacity-0');
			// 	// window.location.reload()
			// });

			document.getElementById("add-slot-form").addEventListener("submit", (e) => {
				if (document.getElementById('add-slot-btn').innerText === "Update") {
					e.preventDefault();
					const form = e.target; // Get the form element
        				const formData = new FormData(form); // Correctly create FormData

                         showLoader()

					fetch("/manage-slots/", {
						method: "POST", // Change to PUT if updating
						body: formData
					})
					.then(response => response.json())
					.then(data => {
						console.log("Success:", data);
						if (data.success) {
							document.getElementById('add-slot-modal').classList.remove('scale-100', 'opacity-100');
							document.getElementById('add-slot-modal').classList.add('scale-0', 'opacity-0');
							document.getElementById("updated-slot-modal").classList.remove('scale-0', 'opacity-0');
							document.getElementById("updated-slot-modal").classList.add('scale-100', 'opacity-100');
							document.getElementById("update-slot-message").innerText = "Slot details updated successfully."
							document.getElementById("update-slot-heading").innerText = "Update Slot";
						} else if (data.error) {
							console.error("Error:", data.error);
							document.getElementById('add-slot-modal').classList.remove('scale-100', 'opacity-100');
							document.getElementById('add-slot-modal').classList.add('scale-0', 'opacity-0');
							document.getElementById("updated-slot-modal").classList.remove('scale-0', 'opacity-0');
							document.getElementById("updated-slot-modal").classList.add('scale-100', 'opacity-100');
							document.getElementById("update-slot-message").innerText = data.error;
							document.getElementById("update-slot-heading").innerText = "Error"
						}
					})
					.catch(error => {
						console.error("Error:", error);
						document.getElementById('add-slot-modal').classList.remove('scale-100', 'opacity-100');
						document.getElementById('add-slot-modal').classList.add('scale-0', 'opacity-0');
						document.getElementById("updated-slot-modal").classList.remove('scale-0', 'opacity-0');
						document.getElementById("updated-slot-modal").classList.add('scale-100', 'opacity-100');
						document.getElementById("update-slot-message").innerText = "Error updating slot information."
					})
                         .finally(() => {
                              hideLoader()
                         });
				} else {
					e.preventDefault();
					const form = e.target; // Get the form element
        				const formData = new FormData(form); // Correctly create FormData

                         showLoader()

					fetch("/manage-slots/", {
						method: "POST", // Change to PUT if updating
						body: formData
					})
					.then(response => response.json())
					.then(data => {
						console.log("Success:", data);
						if (data.success) {
							document.getElementById('add-slot-modal').classList.remove('scale-100', 'opacity-100');
							document.getElementById('add-slot-modal').classList.add('scale-0', 'opacity-0');
							document.getElementById("updated-slot-modal").classList.remove('scale-0', 'opacity-0');
							document.getElementById("updated-slot-modal").classList.add('scale-100', 'opacity-100');
							document.getElementById("update-slot-message").innerText = "Slot details added successfully."
							document.getElementById("update-slot-heading").innerText = "Add Slot";
						} else if (data.error) {
							console.error("Error:", data.error);
							document.getElementById('add-slot-modal').classList.remove('scale-100', 'opacity-100');
							document.getElementById('add-slot-modal').classList.add('scale-0', 'opacity-0');
							document.getElementById("updated-slot-modal").classList.remove('scale-0', 'opacity-0');
							document.getElementById("updated-slot-modal").classList.add('scale-100', 'opacity-100');
							document.getElementById("update-slot-message").innerText = data.error;
							document.getElementById("update-slot-heading").innerText = "Error"
						}
					})
					.catch(error => {
						console.error("Error:", error);
						document.getElementById('add-slot-modal').classList.remove('scale-100', 'opacity-100');
						document.getElementById('add-slot-modal').classList.add('scale-0', 'opacity-0');
						document.getElementById("updated-slot-modal").classList.remove('scale-0', 'opacity-0');
						document.getElementById("updated-slot-modal").classList.add('scale-100', 'opacity-100');
						document.getElementById("update-slot-message").innerText = "Error adding slot information."
					})
                         .finally(() => {
                              hideLoader()
                         });
				}
			})

			document.getElementById('delete-slot-btn').addEventListener('click', () => {
				const slotId = document.getElementById('delete-slot-btn').getAttribute('data-id');

                    showLoader()
				fetch(`http://127.0.0.1:8000/manage-slots/?slotId=${slotId}`, {
						method: 'DELETE',
						headers: {
							'Content-Type': 'application/json'
						}
					})
					.then(response => response.json())
					.then(data => {
						console.log(data);
						if (data.success) {
							document.getElementById("delete-slot-message-container").innerHTML = `<p>Deleted successfully</p>`;
							document.getElementById("delete-slot-btn").style.display = "none";
							document.getElementById("close-delete-slot-modal").innerText = "Close";
						} else if (data.error) {
							document.getElementById("delete-slot-message-container").innerHTML = `<p>${data.error}</p>`;
							document.getElementById("delete-slot-btn").style.display = "none";
							document.getElementById("close-delete-slot-modal").innerText = "Close";
						}
					})
					.catch(error => {
						console.error('Error:', error);
					})
                         .finally(() => {
                              hideLoader()
                         });
			});

			const slotGrid = new gridjs.Grid({
				search: true,
				pagination: {
					limit: 5,
					summary: false
				},
				sort: true,
				fixedHeader: true,
				columns: [{
						id: "id",
						name: "ID",
						width: '5%',
						formatter: (cell, row) => {
							cell = `<span class="text-indigo-600 font-semibold">${cell}</span>`;
							return gridjs.html(cell);
						},
						hidden: true
					},
					"Slot Name",
					"Start Time",
					"End Time",
					"Branch",
					{
						name: "Action",
						formatter: (cell, row) => {
							let editBtn = gridjs.h('button', {
								className: 'p-3 bg-indigo-600 text-white rounded-lg cursor-pointer',
								innerHTML: `
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
									<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
									</svg>
								`,
								onClick: () => {
									fetchSlotData(`http://127.0.0.1:8000/getSlotsData/?slotId=${row.cells[0].data}`, "Edit Slot Details", true, false);
									document.getElementById("add-slot-btn").innerText = "Update";

									document.getElementById("add-slot-form").innerHTML += `<input type="hidden" name="slotId" id="slotId" value="${row.cells[0].data}">`;
									document.getElementById('add-slot-modal').classList.remove('scale-0', 'opacity-0');
									document.getElementById('add-slot-modal').classList.add('scale-100', 'opacity-100');
								}
							}, '');
							let deleteBtn = gridjs.h('button', {
								className: 'p-3 bg-red-600 text-white rounded-lg cursor-pointer',
								innerHTML: `
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
										<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
										<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
									</svg>
								`,
								onClick: () => {
									slotId = row.cells[0].data;
									document.getElementById("delete-slot-btn").setAttribute("data-id", slotId);
									document.getElementById("delete-slot-message").innerHTML = `Are you sure you want to delete <b>${row.cells[1].data}</b>'s slot details?`;
									document.getElementById('delete-slot-modal').classList.remove('scale-0', 'opacity-0');
									document.getElementById('delete-slot-modal').classList.add('scale-100', 'opacity-100');
								}
							}, '');
							return gridjs.h('div', {
								className: 'flex gap-4'
							}, editBtn, deleteBtn);
						},
						width: '11%'
					}
				],
				server: {
					url: 'http://127.0.0.1:8000/getSlotsData/',
					then: data => data.map(slot => [slot.id, slot.slotName, slot.slotStartTime, slot.slotEndTime, slot.slotBranch])
				},
				className: {
					th: '!bg-black !text-white',
					sort: '!bg-black !text-white',
					search: '!float-right !w-[25%]',
				}
			})

			slotGrid.render(document.getElementById("wrapper"))

			document.querySelector(".gridjs-search-input").placeholder = "Search...";

			// slotGrid.on('cellClick', (...args) => {
			// 	console.log(args);
			// 	if (args[2]["id"] === "name") {
			// 		instructorId = args[3]["_cells"][0]["data"];
			// 		fetch(`http://127.0.0.1:8000/getInstructorData/?instructorId=${instructorId}`)
			// 			.then(response => response.json())
			// 			.then(data => {
			// 				console.log(data);

			// 				document.getElementById("instructor-view-image").src = data.profilePic || "https://dummyimage.com/1290x1080/141414/ffffff&text=No+Image+Found";
			// 				document.getElementById("instructor-name").innerText = data.name || "No Data Found";
			// 				document.getElementById("instructor-email").innerText = data.email || "No Data Found";
			// 				document.getElementById("instructor-phone").innerText = data.phone || "No Data Found";
			// 				document.getElementById("instructor-bg").innerText = data.bloodGroup || "No Data Found";
			// 			})
			// 		// fetchSlotData(`http://127.0.0.1:8000/getInstructorData/?instructorId=${instructorId}`, "Instructor Details", false, true);
			// 		document.getElementById('view-slot-modal').classList.remove('scale-0', 'opacity-0');
			// 		document.getElementById('view-slot-modal').classList.add('scale-100', 'opacity-100');
			// 	}
			// });

			function fetchSlotData(apiUrl, headingText, isBtnsVisible, isMakeInputReadOnly) {
                    showLoader()
				fetch(apiUrl)
					.then(response => response.json())
					.then(data => {
						console.log(data);
						document.getElementById("slot-model-heading").innerText = headingText;
						document.getElementById("btns-container").style.display = isBtnsVisible ? "flex" : "none";
						document.getElementById("slotName").value = data.slotName || "No Data Found";
                              document.getElementById("slotBranch").value = data.slotBranch || "No Data Found";
                              document.getElementById("slotStartTime").value = data.slotStartTime || "No Data Found";
                              document.getElementById("slotEndTime").value = data.slotEndTime || "No Data Found";
						isMakeInputReadOnly ? makeInputReadOnly() : makeInputEditable();
					})
                         .finally(() => {
                              hideLoader()
                         });
			}

			function makeInputReadOnly() {
				document.getElementById('add-slot-modal').querySelectorAll('input').forEach(input => {
                         input.classList.remove('focus:outline-2', 'focus:-outline-offset-2', 'focus:outline-indigo-600');
                         input.setAttribute('readonly', true);
                         input.setAttribute('disabled', true);
                         input.removeAttribute('required');
                    })
                    document.getElementById('add-slot-modal').querySelectorAll('select').forEach(input => {
                         input.setAttribute('readonly', true);
                         input.setAttribute('disabled', true);
                         input.removeAttribute('required');
                    })
			}

			function makeInputEditable() {
				document.getElementById('add-slot-modal').querySelectorAll('input').forEach(input => {
					input.classList.add('focus:outline-2', 'focus:-outline-offset-2', 'focus:outline-indigo-600');
					input.removeAttribute('readonly');
					input.removeAttribute('disabled');
					input.setAttribute('required', true);
				})
                    document.getElementById('add-slot-modal').querySelectorAll('select').forEach(input => {
                         input.removeAttribute('readonly');
                         input.removeAttribute('disabled');
                         input.setAttribute('required', true);
                    })
			}
		</script>
	</body>
</html>